#transfer_add_form {
	margin-top: 25px;
}

#transfer_add_form .input_info {
	witdh: 210px;
	margin-top: 10px;
	margin-left: 10px;
}

#transfer_add_form label {
	font-weight: normal;
	margin-right: 10px;
}

#transfer_add_form .input_info select {
	width: 175px;
	height: 27px;
}

#transfer_add_form .input_info input[type="date"] {
	width: 175px;
	height: 27px;
}

#transfer_add_form .input_info textarea {
	resize: none;
	overflow: auto;
	width: 300px;
	height: 70px;
	vertical-align: top;
}