<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gj.wacai.accountType.dao.AccountTypeDao">
	
	<resultMap id="BaseResultMap" type="com.gj.wacai.accountType.pojo.AccountType">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="pid" property="pid" jdbcType="INTEGER"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		id,name,pid
	</sql>
	
	<select id="selectByPid" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from t_account_type
		where pid = #{pid}
	</select>

</mapper>